{% extends 'base.html.twig' %}

{% block title %}Hello NewsletterController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h2>
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            Veuillez sélectionner une newsletter
            <div class="row">
                Newsletter(s):{{ form_widget(form.news) }}<input type="submit">
                <h4>{{ form_errors(form.news) }}</h4>
            </div>
        </h2>
    {{ form_end(form) }}
{% endblock %}
